<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>More Vue</title>
</head>

<body>
    <div id="us">
        <img :src="image"> <br>
        <select v-model="oswald" v-on:change="displayImage()">
            <p>{{oswald}}</p>
            <option v-for="eachStudent in yall" :value="dompart1 + eachStudent.domain+dompart2"> {{eachStudent.stu_name}} {{eachStudent.last_name}} </option>
        </select>
    </div> 
</body>
</html>
<script src="youguys.js"></script>