body {
    padding: 50px;
    background-color: black;
    font-family: Helvetica;
}

section{
    background-color:rgba(0, 0, 0, 0.8);
    margin-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1{
    color: #f4e9e1;
    padding-top: 30px;
    font-size: 32px;
    margin: -5px;
    text-transform: uppercase;
}

h2{
    color: #f4e9e1;
}

button{
    background-color: #f4e9e1;
    border: 0px;
    transition-duration: 0.4s;
    color: black;
    width: 100px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #851fb7; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}

button:focus{
    background-color: #852fb7; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}

#logo {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    opacity: 0.8; 
}

#juke{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.column {
    width: 33.3%;
    padding: 10px;
}