/* CSS Document */

/* Image bullet point */
ul {
    padding-left: 2rem;
    list-style-type: none;
}
ul li {
    padding-left: 2rem;
    background-image: url(tea.jpg);        
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}
   
/* Syling Links */
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:link {
    color: blue;
    padding: 1px;
}
a:visited {
    color: #b65fcf;
}
a:focus {
    border-bottom: 1px solid;
    background: #a1045a;
}
a:hover {
    border-bottom: 5px solid;
    background: #b03b3f;
}
a:active {
    background: green;
    color: aqua;
}

/* Import Special Font */
@font-face {
    font-family: myFont;
    src: url(BRUSHSTP.ttf);
}
.brushstp {
    font-family: myFont;
}